:root{
	--floating-bar-width: 70px;
	--floating-bar-height: 210px;
}

*{
	margin: 0;
	padding: 0;
	color: white;
}

body{
	background-color:#131313;
	overflow: hidden;
}


/*BARS*/
.floating-bar{
	width: var(--floating-bar-width);
	height: var(--floating-bar-height);

	position: absolute;
	top: calc(50% - (var(--floating-bar-height) / 2));
	right: 10px;
	
	background-color:#1A1A1A;
	border-radius: 20px;
}

.floating-bar a:hover path{
	transition: all 0.2s;
	fill: white;
}

.floating-bar::before{
	content: '';
	width: var(--floating-bar-width);
	height: var(--floating-bar-height);

	z-index: -1;
	position: absolute;
	right: -4px;

	background-color: #292929;
	border-radius: 20px;
}

.beta-bar{
	height: 30px;

	background-color: #1A1A1A;
	background-image: url("data:image/svg+xml,%3csvg width='60' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3etext{font: 10px sans-serif}%3c/style%3e%3ctext x='0' y='20' fill='%233B3B3B'%3eBETA%3c/text%3e%3c/svg%3e");
	animation-duration: 2s;
	animation-name: betaBarAnim;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes betaBarAnim {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 60px;
  }
}

/*BACKGROUND_LETERS*/
.bg-letters{
	z-index: -999;
	position: absolute;

	width: 100vw;
	height: 100vh;
}