:root{
	--floating-bar-width: 70px;
	--floating-bar-height: 200px;
	--floating-bar-icon-width: 45px;
	--floating-bar-icon-height: 45px;
	--floating-bar-icon-padding: 0px;
}

*{
	margin: 0;
	padding: 0;
	color: white;
}

body{
	overflow-x: hidden;
	background-color:#161616;
}


/*FLOATING_BAR*/
.floating-bar{
	position: fixed;
	z-index: 999;
	top: calc(50% - (var(--floating-bar-height) / 2));
	right: 20px;
	width: var(--floating-bar-width);
	height: var(--floating-bar-height);
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-color:#292929;
	border-radius: 20px;
}

.floating-bar a:hover path{
	transition: all 0.2s;
	fill: #08985e;
 	filter: drop-shadow(0px 0px 1px #08985e)
}

.floating-bar a{
	display: flex;	
	justify-content: center;
	padding-right: 5px;
}


.floating-bar svg{
	padding-top: var(--floating-bar-icon-padding);
	width: var(--floating-bar-icon-width);
	height: var(--floating-bar-icon-height);
}

.floating-bar::before{
	content: '';

	position: absolute;
	z-index: -1;
	right: 4px;
	width: inherit;
	height: inherit;

	background-color: #1A1A1A;
	border-radius: 20px;
}


/*BETA_BAR*/
.beta-bar{
	position: sticky;
	z-index: 1;
	top: 0px;
	height: 30px;

	background-color: #1A1A1A;
	background-image: url("data:image/svg+xml,%3csvg width='60' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3etext{font: 10px sans-serif}%3c/style%3e%3ctext x='0' y='20' fill='%233B3B3B'%3eBETA%3c/text%3e%3c/svg%3e");
	
	animation-duration: 2s;
	animation-name: betaBarAnim;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes betaBarAnim {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 60px;
  }
}


/*BACKGROUND_LETERS*/
.bg-letters{
	position: absolute;
	z-index: -999;
	width: 100vw;
	height: 100vh;
	user-select: none;
}


/*TODO: MOVE TO SEPARATE FILE FOR EACH PAGE*/
home-page{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	overflow: visible;
}

home-page .news{
	display: flex;
	flex-wrap: wrap;
	width: 25%; height: 70vh;
	min-width: 300px;

	background-color: #1a1a1a;
	border-radius: 20px;
	overflow: scroll;
	padding: 20px;
	row-gap: 20px;

	box-shadow: 0px 0px 0px 2px #292929;
	animation-duration: 3s;
	/*animation-name: newsGlowAnim;*/
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

home-page .wrapper{
  	display: flex;
  	flex-direction: row;
  	row-gap: 100px;
  	column-gap: 100px;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}

@keyframes newsGlowAnim {
  0% { 
		box-shadow: 0px 0px 0px 0px #292929, 0px 0px 100px -40px #08985e;
  }
  100% { 
		box-shadow: 0px 10px 0px 0px #292929, 30px 20px 100px -40px #08985e;
  }
}


home-page .wrapper .bttn {
	transition: all 0.2s ease-in-out;
	filter: drop-shadow(0px 10px 0 #292929);
	top: 0px;
}

home-page .wrapper .bttn:hover {
	filter: drop-shadow(0px 5px 0 #08985e);
	box-shadow: 0px 0px 2px #08985e;
	top: 5px;
}

@media only screen and (max-width: 1300px) {
	home-page{
		top: revert;
		transform: revert;
	}

  home-page .wrapper{
  	flex-direction: column-reverse;
  }

  home-page .news{
  	flex-direction: column;
  	width: 35%; height: revert;
  }

  .floating-bar{
  	top: revert;
  	right: revert;
  	bottom: 20px;
  	left: 50%;
  	transform: translateX(-50%);
  	flex-direction: row;
  }

  .floating-bar::before{
		content: '';

		position: absolute;
		z-index: -1;
		right: revert;
		top: -5px;
		width: inherit;
		height: inherit;

		background-color: #1A1A1A;
		border-radius: 20px;
	}

  :root{
		--floating-bar-width: 250px;
		--floating-bar-height: 80px;
		--floating-bar-icon-width: 60px;
		--floating-bar-icon-height: 60px;
		--floating-bar-icon-padding: 10px;
	}
}

@media only screen and (max-width: 600px) {
	home-page{
		top: revert;
		transform: revert;
	}

  home-page .wrapper{
  	margin-top: 50px;
  	flex-direction: column-reverse;
  }

  home-page .news{
  	flex-direction: column;
  	width: 50%; height: revert;
  }

  home-page .wrapper .bttn {
  	display: none;
  }

  .floating-bar{
  	top: revert;
  	right: revert;
  	bottom: 20px;
  	left: 50%;
  	transform: translateX(-50%);
  	flex-direction: row;
  }

  .floating-bar::before{
		content: '';

		position: absolute;
		z-index: -1;
		right: revert;
		top: -5px;
		width: inherit;
		height: inherit;

		background-color: #1A1A1A;
		border-radius: 20px;
	}

  :root{
		--floating-bar-width: 450px;
		--floating-bar-height: 120px;
		--floating-bar-icon-width: 80px;
		--floating-bar-icon-height: 80px;
		--floating-bar-icon-padding: 10px;
	}
}